@import url(style.css);

/*footer*/


footer{
	background-color: #fff;
	border-top: 1px solid rgb(247, 247, 247);
	padding-top: 30px;
	height: 525px;
	width:100%;
	bottom: 0;

}

.mid {
	max-width: 1050px;
	position: relative;
	height: 100%;
}

.ft_shop1 .inner{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

h2{
	font-size: 20px;
	font-weight:500;
	line-height: 29px;
	padding-bottom: 10px;
}
.box1 p.open{
	display:block;
	font-size: 25px;
	font-weight: 700px;
	padding-bottom: 20px;
}
span.time{
	font-weight: normal;
	font-size: 16px;
	margin-left: 8px;
}
ul.ft_list li{
	display: flex;
	flex-direction: row;
}
.ft_right nav{
	display: flex;
	padding-bottom: 15px;
	
}
.ft_right ul.ft_list li{
	padding-top:10px;
	margin-right: 14px;
}
ul.ft_list li a{
	font-weight: normal;
}
a.personal{
	font-weight: 700;
}
a.ask_btn {
	display:block;
	width: 140px;
	height: 40px;
	border: 1px solid rgb(226, 226, 226);
	border-radius: 3px;
	line-height: 39px;
	text-align: center;
	margin-right:16px;
	margin-bottom: 16px;
	font-size: 14px;
}
p.list_tit {
	margin-top: 2px;
	color: rgb(153  ,153, 153);
	letter-spacing: -0.5px;
	line-height: 16.8px;
	font-size: 14px;
}
span.ask_e {
	font-size: 12px;
	line-height: 18px;
	color: rgb(153  ,153, 153);
}
.ft_right {
	display:flex;
	flex-direction: column;
	font-size: 14px;
}

.ft_right nav ul.ft_list {
	display:flex;
	padding-bottom: 15px;
}
p.address{
	font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgb(153, 153, 153);
    margin-bottom: 40px;
}
p.address span{
	color: #5f0080;
}
ul.sns_wrap{
	display: flex;
}
a img.ft_sns{
	display: block;
	margin-right: 10px;
}
footer.ft_shop3{
	background-color: #f7f7f7;
}

.ft_shop2{
	display:flex;
	padding: 26px 0px 33px;
	border-top: 1px solid rgb(238, 238, 238);
	justify-content: space-between;
}
ul.ft_list2 {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	
}
ul.ft_list2 li{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-right:25px;
}
img.ft_sns{
	width: 30px;
	height: 30px;
}
.icon_wrap{
	width: 34px;
	height: 34px;
	margin-right: 10px;
}
img.icon_wrap_pay {
	width: 100px;
	margin-right: 10px;
	height: 32px;
}
p.ft_list_txt {
	font-size: 10px;
	line-height: 14.5px;
	color: rgb(153, 153, 153);
	text-align: left;
}
.ft_shop3{
	padding: 20px 0px 20px;
	font-size: 10px;
	line-height: 15px;
	text-align: center;
	background-color: #f7f7f7;
    color: rgb(153, 153, 153);
 
}
.ft_shop3 .tit_wrap{
	display: block;
    padding-top: 7px;
    font-style: normal;
}
.ft_shop3 p.con_txt {
	display: block;
    padding-top: 7px;
    font-style: normal;
}
img.bottom {
	width: 7px;
	height: 7px;
}