@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: "Noto Sans KR", sans-serif;
	
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: black;
}
#container {
	background-color: #FFFFFF;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main {
	height: 350px;
	width: 340px;
	border: 3px solid #5F0080;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	aling-items: center;
}