@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: "Noto Sans KR", sans-serif;
	
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: black;
}
#container {
	background-color: #FFFFFF;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main {
	height: 350px;
	width: 340px;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.main table.log {
	margin-top: 40px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.tit {
	text-align: center;
	font-weight: 800;
	font-size: 20px;
	line-height: 20px;
	color: #333;
	padding-bottom: 30px;
}
input {
	border: 1px solid #dddddd;
	width: 300px;
	height: 50px;
	border-radius: 4px;
	padding: 10px;
	margin: 4px;
}
input.id {
	font-size: 16px;
}
input.pwd {
	font-size: 16px;
}
td.find {
	display: flex;
	justify-content: flex-end;
	margin-top:5px;
	margin-bottom: 15px;
}

td.find a{
	font-size: 14px;
}
span.divide{
	width: .8px;
	height: 10px;
	margin: 3px 6px 0px;
	background-color: #333;
}
input.blog{
	font-size: 16px;
	color: #FFFFFF;
	background-color: #5F0080;
	border:1px solid #5F0080;
	margin-bottom: 3px;
}

input.regi{
	font-size: 16px;
	color: #5F0080;
	border:1px solid #5F0080;
}