.tit_wrap {
	display: none;
}
.inner {
    max-width: 1900px;
    margin: auto;
    position: relative;
    height: 100%;
}

header {
	z-index: 5;
	position: fixed;
	width:100%;
	height:100px;
	transition: all .2s ease-in-out;
	background-color: #FFFFFF;
}
header::before {
    content: "";
    display: block;
    box-sizing: border-box;
    width:1900;
    height:190px;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: all .3s ease-in-out;
}

/*header-top*/
.inner nav.h_top{
	display:flex;
	justify-content:flex-end;
	align-items: flex-end;
	padding-right: 30px;
}
nav.h_top ul{
	display:flex;
	padding-top: 5px;
}
nav.h_top ul li{
	margin: 12px;
}
nav.h_top ul li a{
	display:block;
	font-size: 12px;

}
nav.h_top ul li.regi a{
	color: #5F0080;
}

.middle{
	display:flex;
	align-items: center;
	justify-content: space-between;
}
.search 
.search .main_search{
	width: 200px;
	height: 20px;
	padding: 6px 72px 6px 14px;
	border: 1px solid #5f0080;
	border-radius: 6px;
	font-size: 16px;
	color: #4c4c4c;
	line-height: 20px;
	letter-spacing: -.3px;
	outline:none;
}
.search .search_icon {
	
	background: url(../icon/search.png) no-repeat ;
}

footer{
	display:flex;
	align-items: flex-end;
	height: 562px;
	background-color: #ffffff;
	width:100%;
	position: absolute;
	bottom:0;
}

footer.ft_shop3{
	background-color: #f7f7f7;
}
img.ft_sns{
	width: 30px;
	height: 30px;
}
.icon_wrap{
	width: 34px;
	height: 34px;
}

