@import url(style.css);
#content {
	width: 1050px;
	height: 100vh;
	margin: 0px auto;
	position:relative;
	padding-top: 130px;
	padding-bottom: 700px;
}

#id .tit_wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 27px;
}



/*shop2*/
section.shop2 {
	width: 1050px;
	margin: 0px auto;
	padding: 40px 0px;
}

.main_tit {
	font-size: 28px;
	line-height: 1.15;
	letter-spacing: -0.26px;
	font-weight: 500;
	color: #333333;
	text-align: center;
}

.con_txt {
	font-size: 16px;
	font-weight: normal;
	line-height:1.45;
	letter-spacing: -0.2px;
	text-align: center;
	color: #333333;
	margin-top: 5px;
}

#content ul.shop_list {
	display:flex;
	justify-content:center;
}



#content ul.shop_list  li{
	display:flex;
	flex-direction: column;
	margin-right: 18px;
	width: 250px;
	text-align: left;
	cursor: pointer;
	
}

#content .img_wrap {
	height: 320px;
	width: 250px;
	border-radius: 4px;
	object-fit:cover;
	cursor:pointer;
	overflow:hidden;
	display:block;
	box-sizing: border-box;
	
}
img.s_cart{
	width: 20px;
	height: 20px;
	margin: 1px 4px 0px 0px;
}
a.cart_btn{
	display:flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 33px;
	margin-top:6px;
	padding-bottom: 1px;
	font-size:16px;
	line-height: 29px;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 4px;
	
}
.info{
	position:relative;
	padding: 8px 10px 0px 0px;
}

span.discount{
	margin-right: 7px;
	font-size: 16px;
	font-weight: 800;
	line-height: 1.5;
	color: rgb(250, 98, 47);
}
p.price{
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5;
	color: #333;
}

/*shop4*/
section.shop4 {
	width: 1050px;
	margin: 0px auto;
	padding: 40px 0px;
}

