@import url(font.css);

#wrap{
	width:1000px;
	margin:0 auto;
}

a {
	text-decoration: none;
}

table th {
	font-weight: bold;
	text-align: left;
	font-size: 1.5em;
	color: #5f0080;
	text-align: center;
}

table{
	width:100%;
	border-collapse:collaps;
	font-size:12px;
	line-height: 24px;
	border: 2px solid #5f0080;
}

table a {
	font-size: 16px;
	color: #CCC;
	text-decoration: none;
}

table a:hover {
	font-weight: bold;
	color: #5f0080;
}

table td, th{
	border: #d3d3d3 solid 1px;
	padding: 5px;
}

img {
	width: 150px;
	height: 90px;
	margin-left: 20px;
}

#sample img{
	width: 170px;
	height: 250px;
}

#padding {
	padding-right: 80px;
}
