@import url(font.css);

#wrap{
	width:100%;
	margin:0 auto;
}

#list:table{
	
	width:100%;
	border-collapse:collaps;
	font-size:12px;
	line-height: 24px;
	font-style: bold;	
}

table td, th{
	border: #d3d3d3 solid 1px;
	padding : 5px;
	
}

table {
	width: 100%;
	height: 120px;
	border: 3px solid #5f0080;
}

table th {
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
	color: #5f0080;
}

table a {
	font-size: 16px;
	color: #CCC;
	text-decoration: none;
}

table a:hover {
	font-weight: bold;
	color: #5f0080;
}

img{
	width: 150px;
	height: 90px;
	margin-left: 50px;
}

a:hover{
	text-decoration : underLine;
	color:#5f0080;
}

a {
	text-decoration: none;
}


#padding{
	padding-right: 80px;
}